.card-wrapper {
  max-width: 100%;
}

.card {
  position: relative;
  width: 100%;
  height: 380px;
  border: none;
  border: solid;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 0px 15px;
  background-color: red;
  border-radius: 10px;
  border: none;
  color: white;
  position: relative;
  cursor: pointer;
  font-weight: 900;
  transition-duration: 0.2s;
}

.card-text {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 8px;
  color: white;
  text-align: center;
  border: 1px;
}

.card:before,
.card:after {
  content: "";
  position: absolute;
  left: -2px;
  top: -2px;
  border-radius: 10px;
  background: linear-gradient(
    45deg,
    #6b25b6,
    #0000ff,
    #00ff00,
    #ffff00,
    #ff0000,
    #ab00fb,
    #0000ff,
    #00bbff,
    #ffff00,
    #e100ff
  );
  background-size: 400%;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  z-index: -1;
  animation: steam 20s linear infinite;
}

@keyframes steam {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
  }
}

.card:after {
  filter: blur(7px);
}

@media (min-width: 900px) and (min-height: 900px) {
  .custom-breakpoint-class {
    width: 24%;
  }
}
