.card-wrapper {
  max-width: 100%;
}

.card {
  position: relative;
  width: 100%;
  height: 380px;
  border: none;
  border: solid;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 0px 15px;
  background-color: red;
  border-radius: 6px;
  border: none;
  color: white;
  position: relative;
  font-weight: 900;
  transition-duration: 0.2s;
}

.card-text {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 8px;
  color: white;
  text-align: center;
  border: 1px;
}

.card:before,
.card:after {
  content: "";
  position: absolute;
  left: -2px;
  top: -2px;
  border-radius: 10px;
  background: linear-gradient(
    45deg,
    #4f0000,
    #ff0000,
    #4f0000,
    #303030,
    #000000,
    #d01a1a,
    #303030,
    #ff0000,
    #303030,
    #ff0000
  );
  background-size: 400%;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  z-index: -1;
  animation: steam 20s linear infinite;
}

.titleDetail {
  text-shadow: 2px 2px 4px #000000;
  font-size: 4em;
}

.titleComicDetail {
  text-shadow: 2px 2px 4px #000000;
  font-size: 4em;
}

.imagedetail {
  border-radius: 6px;
  margin-bottom: 15px;
}

.custom-border {
  border: 2px solid rgba(173, 216, 230, 0.5);
  padding: 15px;
  border-radius: 10px;
  width: 100%;
  background-color: rgba(127, 255, 212, 0.184);
}

@keyframes steam {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
  }
}

@media (min-width: 900px) and (min-height: 900px) {
  .custom-breakpoint-class {
    width: 24%;
  }
}
